.navbar
{
    position: absolute;
    border-bottom: 1px solid black;
    height: auto;
    z-index: 1;
    left: 17%;
    background-color: #444444;
    width: 100%;
}

.nav-menu {
    display: flex;
    list-style: none;
    width: 100%;
    margin-right: 2rem;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.nav-menu li {
    margin-right: 125px;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links-mobile {
    display: none;
}