@media only screen and (min-width: 400px) and (max-width: 900px) {
		#background
		{
		display: block;
  		position: absolute;
  		top: 0;
  		bottom: 0;
  		left: 0;
  		right: 0;
  		width: 100%;
  		height: 100%;
  		pointer-events:none;
  		z-index:-1;
		}
	}
@media only screen and (min-width: 400px) and (max-width: 900px) {
		#player
		{
		display: block;
  		position: absolute;
  		top: 0;
  		bottom: 0;
  		left: 0;
  		right: 0;
  		width: 198%;
  		height: 198%;
  		pointer-events:none;
  		z-index:1;
		}
	}

#background {
  	display: block;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	width: 100%;
  	height: 100%;
  	pointer-events:none;
  	z-index:-1;
}

#player {
	display: block;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	width: 100%;
  	height: 100%;
  	pointer-events:none;
  	z-index:1;
}

div {
	display: block;
}

#Instructions {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#Menu {
	position: absolute;
	width: 100%;
	bottom: 50%;
}

p.Instructs {
	text-align: center;
}

p.Menu {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	letter-spacing: 4.8px;
	word-spacing: 0.6px;
	color: #010000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
	text-align: center;
}


p.End {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 24px;
	letter-spacing: 4px;
	word-spacing: 3px;
	color: #FF0D22;
	font-weight: 700;
	text-decoration: none;
	font-style: italic;
	font-variant: normal;
	text-transform: uppercase;
	text-shadow: 3px 2px black;
}


Button {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b35959), color-stop(1, #407599));
	background:-moz-linear-gradient(top, #b35959 5%, #407599 100%);
	background:-webkit-linear-gradient(top, #b35959 5%, #407599 100%);
	background:-o-linear-gradient(top, #b35959 5%, #407599 100%);
	background:-ms-linear-gradient(top, #b35959 5%, #407599 100%);
	background:linear-gradient(to bottom, #b35959 5%, #407599 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b35959', endColorstr='#407599',GradientType=0);
	background-color:#b35959;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	position: relative;
	left:45%;
}
Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #407599), color-stop(1, #b35959));
	background:-moz-linear-gradient(top, #407599 5%, #b35959 100%);
	background:-webkit-linear-gradient(top, #407599 5%, #b35959 100%);
	background:-o-linear-gradient(top, #407599 5%, #b35959 100%);
	background:-ms-linear-gradient(top, #407599 5%, #b35959 100%);
	background:linear-gradient(to bottom, #407599 5%, #b35959 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#407599', endColorstr='#b35959',GradientType=0);
	background-color:#407599;
}
Button:active {
	position:relative;
	top:1px;
}





