.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 100px;
    list-style: none;
    text-align: center;
    width: 100%;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: white
}

.nav-links-mobile {
    display: none;
}